src/main/java/com/seeyon/apps/nbd/ws/EASLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.10.10.98/ormrpc/services/EASLogin" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.10.10.98/ormrpc/services/EASLogin" xmlns:intf="http://10.10.10.98/ormrpc/services/EASLogin" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:client" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSContext">
    <sequence>
     <element name="slnName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="dbType" type="xsd:int"/>
     <element name="userName" nillable="true" type="xsd:string"/>
     <element name="sessionId" nillable="true" type="xsd:string"/>
     <element name="dcName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest1">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="authPattern" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse1">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EASLoginProxy">

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType">

         <wsdl:input message="intf:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="intf:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType authPattern">

         <wsdl:input message="intf:loginRequest1" name="loginRequest1">

       </wsdl:input>

         <wsdl:output message="intf:loginResponse1" name="loginResponse1">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EASLoginSoapBinding" type="intf:EASLoginProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.10.10.98/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.10.10.98/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EASLoginProxyService">

      <wsdl:port binding="intf:EASLoginSoapBinding" name="EASLogin">

         <wsdlsoap:address location="http://10.42.1.210:6888/ormrpc/services/EASLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
