src/main/java/com/seeyon/apps/kdXdtzXc/oawsclient/formService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax225="http://services.v3x.seeyon.com/xsd" xmlns:ns="http://impl.form.services.v3x.seeyon.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:axis2="www.seeyon.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="www.seeyon.com">
    <wsdl:documentation>This is the test webservice for Spring/Axis2 Integration</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax226="http://impl.form.services.v3x.seeyon.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.v3x.seeyon.com/xsd">
            <xs:import namespace="http://impl.form.services.v3x.seeyon.com"/>
            <xs:complexType name="ServiceException">
                <xs:complexContent>
                    <xs:extension base="ns:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="errorNumber" type="xs:long"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax227="http://services.v3x.seeyon.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.form.services.v3x.seeyon.com">
            <xs:import namespace="http://services.v3x.seeyon.com/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ServiceException" nillable="true" type="ax227:ServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="exportBusinessFormData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="beginDateTime" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDateTime" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="dateFieldAry" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="exportBusinessFormDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importBusinessFormData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataXml" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="valiFieldAry" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importBusinessFormDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="exportBusinessFormDataRequest">
        <wsdl:part name="parameters" element="ns:exportBusinessFormData"/>
    </wsdl:message>
    <wsdl:message name="exportBusinessFormDataResponse">
        <wsdl:part name="parameters" element="ns:exportBusinessFormDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part name="parameters" element="ns:ServiceException"/>
    </wsdl:message>
    <wsdl:message name="importBusinessFormDataRequest">
        <wsdl:part name="parameters" element="ns:importBusinessFormData"/>
    </wsdl:message>
    <wsdl:message name="importBusinessFormDataResponse">
        <wsdl:part name="parameters" element="ns:importBusinessFormDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="formServicePortType">
        <wsdl:operation name="exportBusinessFormData">
            <wsdl:input message="axis2:exportBusinessFormDataRequest" wsaw:Action="urn:exportBusinessFormData"/>
            <wsdl:output message="axis2:exportBusinessFormDataResponse" wsaw:Action="urn:exportBusinessFormDataResponse"/>
            <wsdl:fault message="axis2:ServiceException" name="ServiceException" wsaw:Action="urn:exportBusinessFormDataServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="importBusinessFormData">
            <wsdl:input message="axis2:importBusinessFormDataRequest" wsaw:Action="urn:importBusinessFormData"/>
            <wsdl:output message="axis2:importBusinessFormDataResponse" wsaw:Action="urn:importBusinessFormDataResponse"/>
            <wsdl:fault message="axis2:ServiceException" name="ServiceException" wsaw:Action="urn:importBusinessFormDataServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="formServiceSoap11Binding" type="axis2:formServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="exportBusinessFormData">
            <soap:operation soapAction="urn:exportBusinessFormData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault use="literal" name="ServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importBusinessFormData">
            <soap:operation soapAction="urn:importBusinessFormData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault use="literal" name="ServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="formServiceSoap12Binding" type="axis2:formServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="exportBusinessFormData">
            <soap12:operation soapAction="urn:exportBusinessFormData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap12:fault use="literal" name="ServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importBusinessFormData">
            <soap12:operation soapAction="urn:importBusinessFormData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap12:fault use="literal" name="ServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="formServiceHttpBinding" type="axis2:formServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="exportBusinessFormData">
            <http:operation location="formService/exportBusinessFormData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="exportBusinessFormData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="exportBusinessFormData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importBusinessFormData">
            <http:operation location="formService/importBusinessFormData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="importBusinessFormData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="importBusinessFormData"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="formService">
        <wsdl:port name="formServiceHttpSoap11Endpoint" binding="axis2:formServiceSoap11Binding">
            <soap:address location="http://172.16.106.130:80/seeyon/services/formService.formServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="formServiceHttpSoap12Endpoint" binding="axis2:formServiceSoap12Binding">
            <soap12:address location="http://172.16.106.130:80/seeyon/services/formService.formServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="formServiceHttpEndpoint" binding="axis2:formServiceHttpBinding">
            <http:address location="http://172.16.106.130:80/seeyon/services/formService.formServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
